.Bar{
    position: relative;
    top: 0;
    background-color:rgb(255, 152, 79);
    display: block;
    list-style: none;
    height: 55px;
    border-top: none;
    border-bottom: solid 1px black;
    width: 100%;
    box-shadow: 2px 2px grey;
}
.collapse.in {
    margin-top: -8px;
}
.collapsing {
    margin-top: -8px;
}
.leftbar{
    display: flex;
    padding: 0 40px;
    margin-bottom: 2px;
    position: absolute;
    
}
.sl{
    padding-right: 40px;
    
    
}
.select{
    background-color: rgb(255, 152, 79);

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
 
    border-top: none;
    padding: 50px;
    margin-top: 5px;
    padding-bottom: 0px;
    
}
.quanlytuyendung, .quanlyhoso, .quanlychamcong, .quanlytienluong{
    height: 53px;
    border: none;
    width: 200px;
    background-color: rgb(255, 152, 79);
    color: white;
    text-transform: uppercase;
    margin-left: 30px;

}
.selectlink{
    margin-top: 10px;
    color: white;
    font-size: 18px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.resize{
    display: block;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -50px;
    margin-top: -40px;
}

.but,.quanlycongtacnhanvien ,.quanlycalamviec{
    background-color: rgb(255, 152, 79);
    border: none;
    border-top: solid 1px chocolate;
    margin-top: -6px;
}
.collapse{
    position: relative;
}
.linksl{
    color: white;
}
.tdtd, .qlhsuv{
    background-color: rgb(97, 167, 247);
    width: 240px;
    height: 40px;
    padding-top: 8px;




}
.resize1{
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px;   
    height: 100px;
}
.select1{
    background-color: rgb(255, 152, 79);

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    padding: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid chocolate;
}

.quanlycongtacnhanvien , .quanlycalamviec{
    background-color: rgb(255, 152, 79);
    padding-bottom: 0px;
}
.rightbar{
    float: right;
}
.text-username{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 4px;
    margin-top: -1px;
    padding-right: 3px;
}
.bt-logout{
    background-color: greenyellow;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 30px;

}
.bt-logout:hover{
    background-color: red;
    color: white;
}